Source: ros-humble-mp2p-icp-core
Section: misc
Priority: optional
Maintainer: "Jose-Luis Blanco-Claraco" <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libcli11-dev, libeigen3-dev, libtbb-dev, ros-humble-mola-common, ros-humble-mola-imu-preintegration, ros-humble-mrpt-containers, ros-humble-mrpt-maps, ros-humble-mrpt-obs, ros-humble-mrpt-poses, ros-humble-mrpt-rtti, ros-humble-mrpt-serialization, ros-humble-mrpt-system, ros-humble-mrpt-tfest, ros-humble-mrpt-topography, ros-humble-ros-environment, ros-humble-ros-workspace
Homepage: https://github.com/MOLAorg/mp2p_icp
Standards-Version: 3.9.2

Package: ros-humble-mp2p-icp-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcli11-dev, libeigen3-dev, libtbb-dev, ros-humble-mola-common, ros-humble-mola-imu-preintegration, ros-humble-mrpt-containers, ros-humble-mrpt-maps, ros-humble-mrpt-obs, ros-humble-mrpt-poses, ros-humble-mrpt-rtti, ros-humble-mrpt-serialization, ros-humble-mrpt-system, ros-humble-mrpt-tfest, ros-humble-mrpt-topography, ros-humble-ros-workspace
Description: C++ libraries for multi primitive-to-primitive (MP2P) ICP algorithms and point cloud processing pipelines, plus headless CLI applications.
 No GUI/display dependencies; see mp2p_icp_viz for the GUI apps.
